.container {
    width: 400px;
    margin: 0 auto;
    background-color: rgb(199, 163, 109);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.button-container {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(244, 143, 106);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}