.footer {
    background-color:rgb(116, 64, 27);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}