body {
    font-family: Arial, sans-serif;
    background-color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    color:chocolate;
}

.input-group {
    margin-bottom: 13px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0f0e0e;
    border-radius: 4px;
}

.login-button {
    background-color:rgb(234, 97, 97);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color:rgb(228, 187, 138);
}
.signup-link {
    margin-top: 20px;
    color: #1877f2;
    text-decoration: none;
}